@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly Tutorial</h1>
    <p class="lead">Check out the finished code from the paid course at Mosh Hamedani's github page! </p>
    <p><a href="https://github.com/mosh-hamedani/vidly-mvc-5" class="btn btn-primary btn-lg">Check it out &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
           Currently available Movies.
        </p>
        <p><a class="btn btn-default" href="/movies/random">Go here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>View Or current customers.</p>
        <p><a class="btn btn-default" href="/movies/random">Go here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Personal Site</h2>
        <p>Check out my personal web site to see various projects and info about me.</p>
        <p><a class="btn btn-default" href="http://www.mattxdonovan.com">Go here &raquo;</a></p>
    </div>
</div>